@import "media-queries";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Global
html
{
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 8em;
    @include respond-to($phone){
        margin-bottom: 15em;
    }
}

//FOOTER
footer{
    position: absolute;
    bottom: 0;
    i{
        font-size: 30px;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }
    i:hover{
        color: rgb(17, 17, 17);
        transition: 0.3s;
    }
}

//----------INDEX----------

//HERO_INDEX
.hero{
    width: 100%;
    z-index: -1;
    
    position: relative;
    img{
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}
.hero-container{
    
    text-align: center;
    position: absolute;
    top: 42vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h3{
        font-size: 4em;
    }
    a{
        text-decoration: none;
        color: white;
        border: 1px solid #FFFFFF;
        font-size: 20px;
        transition: 0.6s;
    }
    a:hover{
        transition: 0.6s;
        background: rgb(155, 155, 155);
        border: 1px solid #FFFFFF;
    }
    @include respond-to($phone){
        height: 9.6em;
        h3{
            font-size: 2em;
        }
        a{
            padding: 10px 15px 10px 15px;
        }
    }
}
a{
    text-decoration: none !important;
}

//CATEGORIES_INDEX
.categories{
    background: #e0e0e038;
    .woocommerce{
        text-align: center;
        width: 100%;
        margin: 3em 0 3em 0;
        @include respond-to($phone){
            margin: 2em 0 0em 0;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                float: left;
                margin: 0 5px 0 5px;
                width: 32%;
                @include respond-to($phone){
                    width: 29.8%;
                }
                a{
                    display: block;
                    text-decoration: none;
                    color: black;
                    img{
                        width: 100%;
                        height: 30em;
                        object-fit: cover;
                        margin-bottom: 10px;
                        @include respond-to($phone){
                            height: 6em;
                        }
                    }
                    mark{
                        display: none;
                    }
                    h2{
                        @include respond-to($phone){
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

.woocommerce ul.products li.product{
    margin: 0px 0.4em 1em 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title{
    font-size: 2em;
    @include respond-to($phone){
        font-size: 1em;
    }
}


//NEWPRODUCTS_INDEX
.newProduct{
    a{
        img{
            max-width: 100%;
            height: 100%;
            padding: 10px;
            object-fit: cover;
        }
    }
}

//----------Contact----------

.hero-contact{
    text-align: center;
    position: absolute;
    top: 42vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h3{
        font-size: 4em;
        width: 36%;
        @include respond-to($phone){
            font-size: 3em;
            width: 100%;
        }
    }
    
}

//AboutUs_CONTACT
.aboutUs{
    background-color: #292929;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
}

.contact{
    a{
        text-decoration: none;
        p{
            font-size: 30px;
            color: black;
            @include respond-to($phone){
                display: none;
            }
        }
        i{
            font-size: 45px;
            color: black;
            @include respond-to($phone){
                font-size: 40px;
            }
        }
        i:hover{
            color: black;
        }
    }
    
}

//----------Product----------

//Productos Relacionados
.related{
    width: 100%;
}

//Fondo de la parte del producto
.product_section{
    background-color: #f8f9fa;
    margin-top: 3rem;
}
.wp-post-image{
    max-width: 100%;
    height: auto;
    margin: 0px !important;
}
.woocommerce-breadcrumb{
    display: none !important;
}
//Boton de añadir al carrito Arabella
.add_to_cart{
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 155px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
.add_to_cart:hover{
    background-color: #fff;
    color: #000;
    height: 40px;
    width: 155px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
//Imagenes pequeñas de productos
.woocommerce-product-gallery__image{
    background-color: transparent;
    float: left;
        a{
            img{
                margin: 20px 10px;
                @include respond-to($phone){
                    margin: 10px 7px;
            }
        }
    }
}

//----------Cart----------
.woocommerce-cart-form{
    table{
        img{
            width: 30%;
            
        }
        #coupon_code{
            width: auto;
            text-align: center;
            border-radius: 5px;
            height: 35px;
            border: 1px solid rgba(0,0,0,.1);
            @include respond-to($phone){
                width: 53%;
                height: 35px;
                margin-right: 5px;
            }
        }
        .remove{
            color: black !important;
        }
        .remove:hover{
            background-color: #ebe9eb;
            border-radius: 5px;
            color: #515151;
        }
    }
}

.woocommerce a.button.alt{
    @include respond-to($phone){
        display: block;
    }
}

.woocommerce a.button.alt{
    background-color: black;
    text-align: center;
}
.woocommerce a.button.alt:hover{
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
}

.woocommerce table.cart td.actions .coupon .input-text+.button{
    @include respond-to($phone){
        font-size: 14px;
        width: auto;
        height: 35px;
    }
}

.cart-discount{
    a{
        float: right;
        @include respond-to($phone){
            float: none;
        }
    }
}

//----------Checkout----------
.form-check{
    select, textarea, input{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.woocommerce button.button.alt{
    background-color: black;
    transition: 0.2s;
    text-align: center;
}
.woocommerce button.button.alt:hover{
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
}

//----------Tienda----------
.woocommerce-LoopProduct-link{
img{
    margin-top: 15px;
    width: 100%;
    height: auto;
}
  }
  .woocommerce-LoopProduct-link{
  .price{
    position: absolute;
    top: 3%;
    right: 0%;
    background-color: #1d1d1d;
  }
  }
  .woocommerce-LoopProduct-link{
    h2{
        text-align: center;
        color: #000;
        margin-bottom: 3em;
    }
}
  .products{
      div{ 
        .button{
            display: block;
            color: #fff;
            background: #1d1d1d;
            padding: 3%;
            margin: 3% auto;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 92%;
       }
       .button:hover{
           color: #000;
           border: 1px solid #000;
           background: #fff;
       }
    }
}
.woocommerce-pagination{
    ul{
        list-style: none;
        display: flex;
        justify-content: end;
        margin-top: 5%;
        li{
            font-size: 150%;
            margin-right: 3%;
        }
    }
}
  .woocommerce-products-header{
    .product_list {
        a{
            font-size: 120%;
            text-decoration: none;
            border: 1px solid #cecece;
            color: #000;
            padding: 1%;
            display: block;
            margin-bottom: 5%;
            transition: ease-in-out;
            @include respond-to($phone){
                margin-bottom: 0;
            }
          }
        a:hover{
            background: #000;
            color: #fff;
            transition: ease-in-out;
        }
        @include respond-to($phone){
            padding: 0 0 25px 0;
        }
    }
}

.thumbnails {
    display: none;
  }
.images{
    margin-top: 5%;
    width: 50%;
}
.images{
    width: 100%;
}
.button {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #1d1d1d;
    padding: 10px;
    margin: 3% auto;
    text-align: center;
    transition: ease-in-out;
  }
  .button:hover {
    color: #1d1d1d;
    background: #fff;
    border: solid 1px #000;
  }

  .woocommerce-Price-amount{
    font-size: 115%;
  }
  
  label{
    font-size: 150%;
  }
  
  .value select{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .added_to_cart{
      display: none;
  }

.navbar{
    z-index: 100;
}