.fab{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.fab:hover{
    color: black;
    transition: 0.3s;
}
.hero{
    position: absolute;
    z-index: -1;
}
.hero{
    width: 100%;
}
.hero-container{
    height: 57em;
}
.hero-container h3{

    font-size: 4em;
}
.hero-container a{
    text-decoration: none;
    color: white;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    transition: 0.6s;
}
.hero-container a:hover{
    transition: 0.6s;
    background: rgb(155, 155, 155);
    border: 1px solid #FFFFFF;
}